.bookmarks-container {
    border-left: 1px solid #4e4e4e;
    border-right: 1px solid #4e4e4e;
    border-bottom: 1px solid #4e4e4e;;
}

.no-bookmarks {
    display: flex;
    justify-content: center;
}