@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:wght@300;500&family=Roboto:wght@300;500&display=swap');

.App {
    height: 100vh;
    overflow: hidden;
}

.content {
    display: flex;
    padding: 0 4rem;
    height: 100%;
}

.profile-avatar {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 2rem;
    padding: 0.5rem;
}